@inject IViewLocalizer L
@{ 
    var config = ViewBag.Config as SearchWidgetConfigModel;
}
<div class="Widget widget search">
    <div class="WidgetContent widget-content">
        <div id="searchbox">
            <form method="get" asp-action="Search" asp-controller="Home" asp-route-page="">
                <input type="text" name="keywords" style="width: 72% !important" placeholder="@L["Enter the keyword search"]" >
                <input type="submit" value="@L["Search for"]">
            </form>
        </div>
    </div>
</div>