@{ 
    var config = ViewBag.Config as SearchWidgetConfigModel;
}
<div class="Widget widget search">
    <div class="WidgetContent widget-content">
        <div id="searchbox">
            <form method="get" asp-action="Search" asp-controller="Home" asp-route-page="">
                <input type="text" name="keywords" style="width: 72% !important" placeholder="输入关键字搜索" >
                <input type="submit" value="搜索">
            </form>
        </div>
    </div>
</div>