@model DotNetBlog.Web.Areas.Web.ViewModels.Home.TopicViewModel

<div id="postnavigation" class="navigation-posts well-global" >
    <div class="row">

        <div class="col-sm-6 text-left next-post">
            <a href="/post/2016/02/06/post-two" class="nav-next"> &larr; Post two </a>
        </div>

        <div class="col-sm-6 text-right prev-post">
            <a href="#" class="nav-prev">ascvabagahaweadeadafafa &rarr;</a>
        </div>
    </div>
</div>