<div class="error-page">
    <h2 class="headline text-yellow">404</h2>

    <div class="error-content">
        <h3><i class="fa fa-warning text-yellow"></i> Oops! Page not found.</h3>

        <p>
            访问的页面不存在,你可以<a asp-action="Index" asp-controller="Home">返回首页</a>, 或搜索其他资源
        </p>

        <form asp-action="Search" asp-controller="Home" class="search-form" method="get">
            <div class="input-group">
                <input type="text" name="keywords" class="form-control" placeholder="输入关键字搜索">

                <div class="input-group-btn">
                    <button type="submit" class="btn btn-warning btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>