<div class="widgetzone">
    @await Component.InvokeAsync("AdministrationWidget")

    @await Component.InvokeAsync("CategoryWidget")

    @await Component.InvokeAsync("TagWidget")

    @await Component.InvokeAsync("MonthStatisticsWidget")

    @await Component.InvokeAsync("TopicWidget")
</div>