@model DotNetBlog.Core.Model.Page.PageModel
@inject ClientManager clientManager

<div id="page" class="page-global">
    <h2 class="page-global-title">@Model.Title</h2>
    <div>
        @Html.Raw(Model.Content)
    </div>
    <div id="admin" condition="@clientManager.IsLogin">
        <a asp-action="Index" asp-controller="Admin" asp-fragment="@("/content/page/" + Model.ID.ToString())">编辑</a>
    </div>
</div>