.form-content{
  width:520px;
  max-width: 100%;
}

.category-list{
    max-height:168px;
    overflow-y: auto;
}

.react-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  padding: 4px 6px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  max-width: 100%;
  line-height: 22px;
  cursor: text;
}

.react-tagsinput--focused {
  border-color: #a5d24a;
}

.react-tagsinput-tag {
  background-color: #5bc0de;
  border-radius: 2px;
  color: #ffffff;
  display: inline-block;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px;
}

.react-tagsinput-remove {
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
}

.react-tagsinput-remove:hover {
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
}

.react-tagsinput-tag a::before {
  content: " ×";
}

.react-tagsinput-input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0 6px;
  margin: 0;
  width: auto;
  max-width: inherit;
}

.main-loading {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: none;
    text-transform: uppercase;
    z-index: 2;
    position: fixed;
    right: 30px;
    bottom: 60px;
}

.main-loading .loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: solid 5px #aaa;
    border-left-color: #1cac7b;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: loader 400ms linear infinite;
    animation: loader 400ms linear infinite;
}

@-webkit-keyframes loader {
  0%{-webkit-transform:rotate(0deg)}
  100%{-webkit-transform:rotate(360deg)}
}
@keyframes loader{
  0%{transform:rotate(0deg)}
  100%{transform:rotate(360deg)}
}

.react-bs-table table{
  margin-bottom: 0px;
}

.external-link {
    display: block;
    width: 44px;
    height: 100%;
    text-align: center;
}

.react-bs-table-pagination{
  padding-left:15px;
  padding-right:15px;
}

.widgets-list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.widgets-list li {
    width: 100%;
    background: #fff;
    margin-bottom: 5px;
    padding-left: 15px;
    line-height: 40px;
    border: 1px solid #ddd;
    -moz-box-shadow: 0 1px 0 #eee !important;
    -webkit-box-shadow: 0 1px 0 #eee !important;
    box-shadow: 0 1px 0 #eee !important;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-weight: 400;
    font-size: 14px;
    height: 40px;
    padding-left: 10px;
    color: #444;
    position: relative;
    overflow: hidden;
}

.widgets-list li .item-buttons {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    width: 100px;
}

.widgets-list li .item-buttons button {
    width: 50px;
    background-color: #fff;
    border: none;
    border: none;
    display: block;
    height: 100%;
    line-height: 38px;
    text-align: center;
    float: left;
    text-transform: uppercase;
    border-left: 1px solid #eee;
}

.widgets-list li .item-buttons button:hover{
    background-color:#eee;
}
.widgets-list li .item-buttons button:focus{
    border: none;
}