<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/lib/adminlte/AdminLTE.css" rel="stylesheet" />
</head>
<body style="padding-top:70px;">
    @RenderBody()
</body>
</html>