@inject IViewLocalizer L

<div class="error-page">
    <h2 class="headline text-yellow">404</h2>

    <div class="error-content">
        <h3><i class="fa fa-warning text-yellow"></i> Oops! Page not found.</h3>

        <p>
            @L["Access to the page does not exist, you can"]<a asp-action="Index" asp-controller="Home">@L["return to the home page"]</a>, @L["or search for other resources"]
        </p>

        <form asp-action="Search" asp-controller="Home" class="search-form" method="get">
            <div class="input-group">
                <input type="text" name="keywords" class="form-control" placeholder="@L["enter the keyword search"]" >

                <div class="input-group-btn">
                    <button type="submit" class="btn btn-warning btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>