<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <blog-title>@ViewBag.Title</blog-title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/styles/account.css" rel="stylesheet" />
    <script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/jquery-validate/1.15.1/jquery.validate.min.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
