@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject ClientManager clientManager

@{
    Layout = null;
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <blog-title>@ViewBag.Title</blog-title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <link href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />
    <link href="//cdn.bootcss.com/toastr.js/2.1.3/toastr.min.css" rel="stylesheet" />
    <link href="//cdn.bootcss.com/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css" rel="stylesheet">
    <link href="~/lib/editor.md/css/editormd.min.css" rel="stylesheet" />
    <link href="~/lib/adminlte/AdminLTE.css" rel="stylesheet" />
    <link href="~/lib/adminlte/_all-skins.css" rel="stylesheet" />
</head>
<body class="skin-blue fixed">
    <div id="main">

    </div>
</body>
</html>

<script type="text/javascript">
    var user = {
        nickname: "@Html.Raw(clientManager.CurrentUser.Nickname)",
        icon: "http://gravatar.duoshuo.com/",
        lang: "@requestCulture.RequestCulture.UICulture.Name"
    }
</script>

<script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdn.bootcss.com/toastr.js/2.1.3/toastr.min.js"></script>
<script src="//cdn.bootcss.com/lodash.js/4.14.1/lodash.min.js"></script>
<script src="~/lib/editor.md/editormd.min.js"></script>

<environment names="Development">
    <!--please use webpack-dev-server to serve the development js file-->
    @*<script src="~/dist/app.js"></script>*@
    <script src="http://localhost:8080/app.js"></script>
</environment>
<environment names="Production">
    <script src="~/dist/app.js"></script>
</environment>