@inject ClientManager clientManager
@{ 
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body class="skin-blue fixed">
    <div id="main">

    </div>
</body>
</html>

<script type="text/javascript">
    var user = {
        nickname: "@Html.Raw(clientManager.CurrentUser.Nickname)",
        icon: "http://gravatar.duoshuo.com/"
    }
</script>

<environment names="Development">
    <!--please use webpack-dev-server to serve the development js file-->
    <script src="http://localhost:3000/app.js"></script>
    <script src="~/lib/tinymce/tinymce.min.js"></script>
    <script src="~/scripts/tinymce.plugins/imageupload/plugin.js"></script>
</environment>
<environment names="Production">
    <script src="~/dist/app.js"></script>
    <script src="~/lib/tinymce/tinymce.min.js"></script>
</environment>