@inject ClientManager clientManager
@using DotNetBlog.Core.Model.Widget
@model List<WidgetModel>

<div class="widgetzone">
    @foreach(var widget in Model)
    {
        @await Component.InvokeAsync($"{widget.Type}Widget", new { config = widget.Config })

    }
    <visible condition="clientManager.IsLogin">
        @await Component.InvokeAsync("AdministrationWidget")
    </visible>

    @await Component.InvokeAsync("SearchWidget")

    @await Component.InvokeAsync("CategoryWidget")

    @await Component.InvokeAsync("TagWidget")

    @await Component.InvokeAsync("MonthStatisticsWidget")

    @await Component.InvokeAsync("RecentTopicWidget")

    @await Component.InvokeAsync("RecentCommentWidget")

    @await Component.InvokeAsync("PageWidget")
</div>