@inject ClientManager clientManager

<div class="widgetzone">
    <visible condition="clientManager.IsLogin">
        @await Component.InvokeAsync("AdministrationWidget")
    </visible>

    @await Component.InvokeAsync("SearchWidget")

    @await Component.InvokeAsync("CategoryWidget")

    @await Component.InvokeAsync("TagWidget")

    @await Component.InvokeAsync("MonthStatisticsWidget")

    @await Component.InvokeAsync("TopicWidget")

    @await Component.InvokeAsync("CommentWidget")

    @await Component.InvokeAsync("PageWidget")
</div>