@model List<DotNetBlog.Core.Model.Page.PageBasicModel>
@{ 
    var config = ViewBag.Config as PageWidgetConfigModel;
}

<div class="Widget widget pagelist">
    <h4 class="WidgetHeader widget-header">@config.Title</h4>
    <div class="WidgetContent widget-content">
        <ul>
            @foreach (var page in Model)
            {
            <li>
                <a blog-page="page">@(page.Title)</a>
            </li>
            }
        </ul>
    </div>
</div>