<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body class="skin-blue fixed">
    <div id="main">

    </div>
</body>
</html>

<environment names="Development">
    <!--please use webpack-dev-server to serve the development js file-->
    <script src="http://localhost:8080/dist/app.js"></script>
</environment>
<environment names="Production">
    <script src="~/dist/app.js"></script>
</environment>